body {
    background: rgb(228, 224, 224) !important;
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    
}
.menu{
        display: flex;
        background: #f7b7b7;
        padding: 0;
        margin: 0;

        &-item {
            list-style: none;
        }

        &-item a {
            display: block;
            color: #333;
            padding: 1em 1.5em;
            cursor: pointer;
            font-weight: 900;

            &:hover {
                background: #d1d1d1;
                color: #031336;
            }
        }
    }
    footer{
        background: black;
        color: blanchedalmond;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        font-weight: 600;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        }
        .about-us-container{
            display: flex;
            flex-direction: row;
        }
        .about-us-work{
           padding-left:720px;
        }
        .title{
            text-align: center;
        }